extends index
  link(rel='stylesheet', href='/css/jquery.color.css')
  style.
    .minicolors-theme-default.minicolors {
      display: block;
    }
    .minicolors-theme-default .minicolors-input {
      height: inherit;
      width: 100%;
    }
    .minicolors-theme-default .minicolors-swatch {
      top: 0;
      bottom: 0;
      transform: translate(0, 50%);
    }
    .form-horizontal .form-inline .form-group{
      margin-left: 10px;
      margin-right: 10px;
    }
    #other .form-inline {
      margin-top: 10px;
    }

block activityContent
  .container-fluid
    form#activityForm.form-horizontal
      .ele-form-header
        - if (!activity.isNew)
          input.hidden(name="id",value="#{activity._id}")
        .ele-form-header__btn.text-right
          button.btn.btn-default.btn-sm.form-back(type="button") 返回
          button.btn.btn-primary.btn-sm.form-save(type="submit") 保存
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a#base-tab(href='#base', role='tab', data-toggle='tab', aria-controls='base', aria-expanded='true') 基础设置
          li(role='presentation')
            a#other-tab(href='#other', role='tab', data-toggle='tab', aria-controls='other', aria-expanded='false') 规则设置
        .tab-content
          #base.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='base-tab')
            .ele-form
              .form-group
                label.col-sm-3.control-label.is-required(for='name') 名称
                .col-sm-9
                  input#name.form-control(type='text', value="#{activity.name || ''}", placeholder='活动名称', name="name", required)
              .form-group
                label.col-sm-3.control-label.is-required(for='name') 添加商店
                .col-sm-9
                  button.btn.btn-primary.btn-sm.show-shop(type="button") 选择商店
                  p #{allShops}
              .form-group
                label.col-sm-3.control-label
                .col-sm-9.ele-active-shop
              .form-group
                label.col-sm-3.control-label(for='description') 描述
                .col-sm-9
                  textarea#description.form-control(row="3", name="description") #{activity.description || ''}
              .form-group
                label.col-sm-3.control-label(for='iconName') 双字icon名称
                .col-sm-9
                  input#iconName.form-control(value="#{activity.iconName || ''}", name="iconName")
              .form-group
                label.col-sm-3.control-label(for='iconColor') 双字icon字体颜色
                .col-sm-9
                  input#iconColor.form-control.ele-color(ata-position="top left",value="#{activity.iconColor || '#000'}", name="iconColor")
              .form-group
                label.col-sm-3.control-label(for='iconBorder') 双字icon边框颜色
                .col-sm-9
                  input#iconBorder.form-control.ele-color(ata-position="top left",value="#{activity.iconBorder || '#000'}", name="iconBorder")
              .form-group
                label.col-sm-3.control-label(for='iconSingleName') 单字icon名称
                .col-sm-9
                  input#iconSingleName.form-control(value="#{activity.iconSingleName || ''}", name="iconSingleName")
              .form-group
                label.col-sm-3.control-label(for='iconSingleBg') 单字icon背景色
                .col-sm-9
                  input#iconSingleBg.form-control.ele-color(value="#{activity.iconSingleBg || ''}", name="iconSingleBg")
              .form-group
                label.col-sm-3.control-label(for='exclusiveFood')  是满减活动
                .col-sm-9
                  .ele-form--checkbox.form-control
                    input#exclusiveFood(type='checkbox', checked=activity.exclusiveFood, name="exclusiveFood")
                    span
              .form-group
                label.col-sm-3.control-label(for='newUserOfSystem')  新用户享用
                .col-sm-9
                  .ele-form--checkbox.form-control
                    input#newUserOfSystem(type='checkbox', checked=activity.newUserOfSystem, name="newUserOfSystem")
                    span
              .form-group
                label.col-sm-3.control-label(for='newUserOfStore')  本店新用户享用
                .col-sm-9
                  .ele-form--checkbox.form-control
                    input#newUserOfStore(type='checkbox', checked=activity.newUserOfStore, name="newUserOfStore")
                    span
              .form-group
                label.col-sm-3.control-label(for='valid')  可用
                .col-sm-9
                  .ele-form--checkbox.form-control
                    input#valid(type='checkbox', checked=activity.valid === 1, name="valid")
                    span
          #other.tab-pane.fade(role='tabpanel', aria-labelledby='other-tab')
            .ele-form
              button.btn.btn-default.btn-sm.addAttribute(type="button") 添加
  #showShopDialog.modal.fade.bs-example-modal-md(tabindex='-1', role='dialog')
    .modal-dialog.modal-md(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#exampleModalLabel.modal-title 门店展示
        .modal-body
          .modal-checkbox
block append scripts
  script(src="/js/jquery.color.min.js")
  script(src="/js/bootstrapValidator.min.js")
  script(src="/js/zh_CN.js")
  script.
    $(document).ready(function() {
      const shop = JSON.parse('!{shopStr}');
      console.log(shop)
      let attribute = '!{activity.attribute}';
      if (attribute) {
        attribute = JSON.parse(attribute);
        console.log(attribute)
        attributeHtml();
      }
      $('input.ele-color').each(function() {
        $(this).minicolors({
          control: 'hue',
          defaultValue: '#000',
          letterCase: 'lowercase'
        })
      });
      let allShops = []; // 所有的商店，分页
      let currShops = []; // 当前选择的
      if (shop && shop._id) {
        currShops.push({
          id: shop._id,
          name: shop.name,
        })
        showHtml();
      }

      // { draw, filterKey, start, length, search, order }
      $.get('/portal/shop/listData?start=0&length=100').then(
        r => {
          let shopHtml = '';
          if (r.status && r.data.length) {
            allShops = r.data;
          }
        },
        err => {
          console.error(err);
        }
      )

      $(document).on('click', '.show-shop', function() {
        shopDialogHtml();
        $('#showShopDialog').modal('show');
      }).on('click', '.ele-active-shop li', function(e) {
        if (e.target.nodeName === 'BUTTON' && e.target.className === 'close') {
          const id = $(e.target.parentElement).data('id');
          const idx = currShops.findIndex(item => item.id === id);
          
          if (idx >= 0) {
            currShops.splice(idx, 1);
            showHtml();
          }
        }
      }).on('click', '.modal-checkbox', function(e) {
        const { id, name } = $(e.target.parentElement).data();
        const checked = $(e.target).is(":checked");
        const idx = currShops.findIndex(item => item.id === id);
        if (checked && idx < 0) {
          currShops.push({
            name,
            id
          });
        } else {
          currShops.splice(idx, 1);
        }
        showHtml();
      }).on('click', '.addAttribute', function() {
        let html = `
          <div class="form-inline">
            <div class="form-group">
              <label for="condition">满</label>
              <input type="text" placeholder="0" name="condition" class="form-control" required />
            </div>
            <div class="form-group">
              <label for="reduce">减</label>
              <input type="text" placeholder="0" name="reduce" class="form-control" required />
            </div>
            <div class="form-group">
              <button type="button" aria-label="Close" class="close">&times;</button>
            </div>
          </div>
        `;
        $('#other .ele-form').append(html);
      }).on('click', '.form-inline button.close', function(e) {
        console.log($(e.target.parentElement.parentElement));
        $(e.target.parentElement.parentElement).remove();
      });

      function showHtml() {
        let html = '';
        if (currShops.length) {
          currShops.forEach(item => {
            html += `
              <li data-id="${item.id}">
                <span>${item.name}</span>
                <button type="button" aria-label="Close" class="close">&times;</button>
              </li>
            `
          });
        }
        $('.ele-active-shop').empty().html(html);
      }
      function shopDialogHtml() {
        let shopHtml = '';
        if (allShops.length) {
          allShops.forEach(d => {
            let idx = currShops.findIndex(item => item.id === d._id);
            shopHtml += `
              <div class="ele-form--checkbox" data-id="${d._id}" data-name="${d.name}">
                <input type="checkbox" name="shopIds" ${idx >= 0 ? 'checked' : ''} data-id="${d._id}" />
                <span></span>
                <span>${d.name}</span>
              </div>
            `
          });
        }
        $('.modal-checkbox').html(shopHtml);
      }
      function attributeHtml() {
        let html = '';
        if (typeof attribute === 'number') {
          html = `
            <div class="form-inline">
              <div class="form-group">
                <label for="condition">满</label>
                <input type="text" value="0" placeholder="0" name="condition" class="form-control" required />
              </div>
              <div class="form-group">
                <label for="reduce">减</label>
                <input type="text" placeholder="0" value="${attribute}" name="reduce" class="form-control" required />
              </div>
              <div class="form-group">
                <button type="button" aria-label="Close" class="close">&times;</button>
              </div>
            </div>
          `;
        } else {
          for(let key in attribute) {
            if (key) {
              html += `
                <div class="form-inline">
                  <div class="form-group">
                    <label for="condition">满</label>
                    <input type="text" value="${key}" placeholder="0" name="condition" class="form-control" required />
                  </div>
                  <div class="form-group">
                    <label for="reduce">减</label>
                    <input type="text" placeholder="0" value="${attribute[key]}" name="reduce" class="form-control" required />
                  </div>
                  <div class="form-group">
                    <button type="button" aria-label="Close" class="close">&times;</button>
                  </div>
                </div>
              `;
            }
          }
        }
        $('#other .ele-form').append(html);
      }

      $('#activityForm').bootstrapValidator({
        fields: {
          name: {
            validators: {
              stringLength: {
                min: 2,
                max: 30,
                message: '活动名称长度必须在2到30位之间',
              },
              //- remote: { // ajax校验，获得一个json数据（{'valid': true or false}）
              //-   url: '/portal/activity/checkName',       //验证地址
              //-   message: '店铺名重复',   //提示信息
              //-   type: 'post',          //请求方式
              //-   data: {
              //-     name: function() {
              //-       return $("input[name='name']").val();
              //-     },
              //-     id: function() {
              //-       return $("input[name='id']").val()
              //-     },
              //-     shop: function() {
              //-       return JSON.stringify(currShops);
              //-     }
              //-   },
              //-   delay: 1000,
              //- }
            }
          },
          condition: {
            validators: {
              regexp: {
                enabled: true,
                regexp: /^[0-9\.]+$/,
                message: '请输入数字'
              }
            }
          },
          reduce: {
            validators: {
              regexp: {
                enabled: true,
                regexp: /^[0-9\.]+$/,
                message: '请输入数字'
              }
            }
          },
        },
      }).on('success.form.bv', e => {
        e.preventDefault();
        if (!currShops.length) {
          alert('选择商店')
          return;
        }
        let data = $('#activityForm').serializeObject();
        data.shops = JSON.stringify(currShops);
        data.condition = JSON.stringify(data.condition);
        data.reduce = JSON.stringify(data.reduce);
        console.log(data);
        // 处理规则
        //- if (data.condition && data.condition instanceof Array) {
        //-   data.condition.forEach((item, i) => {
        //-     data.
        //-   })
        //- }
        //- return;
        $.post('/portal/activity/save', data, function(result) {
          if (!result.status) {
            let msgHtml = `
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>错误信息!</strong> ${result.msg || '未知错误'}
              </div>
            `;
            $('#activityForm').append(msgHtml);
          } else {
            location.href = "/portal/activity/list";
          }
        })
      })
      $('button.form-back')[0].onclick = function() {
        window.history.go(-1);
      }
    })