extends index

block shopContent
  .ele-content
    .ele-content-header
      button.btn.btn-default.isFNSpecialDelivery(data-id="isFNSpecialDelivery") 蜂鸟专送
      button.btn.btn-default.isBrand(data-id="isBrand") 品牌商家
      button.btn.btn-default.isNewStore(data-id="isNewStore") 新店
      button.btn.btn-default.isFoodEnsure(data-id="isFoodEnsure") 食安保
      button.btn.btn-default.invoice(data-id="invoice") 开发票
      button.btn.btn-default.selfTake(data-id="selfTake") 支持自取
      button.btn.btn-default.isPerfect(data-id="isPerfect") 口碑人气好店
    table#shopTable.table.datatable.table-striped.table-bordered(style="width: 100%;")
      thead

  #delDialog.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='delDialog')
    .modal-dialog.modal-sm(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#exampleModalLabel.modal-title 删除门店
        .modal-body

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.btn.btn-primary(type='button',onclick="delStore()") 确定
block append scripts
  script.
    function delStore() {
      var id = $('#delDialog').data('id');
      location.href = "/portal/shop/del/" + id;
    }
    $(document).ready(function() {

      let url = '/portal/shop/listData';
      let filterArray = [];
      const datatable = $("#shopTable").DataTable(Object.assign(dataTableOptions, {
        "processing": true,
        "serverSide": true,
        ajax: {
          url,
          dataSrc: function (result) {
            if (result.status) {
              return result.data;
            }
            return [];
          }
        },
        //默认最后一列（最后更新时间）降序排列
        order: [[ 3, "desc" ], [5, "desc"]],
        columns: [
          {
            targets: 0,
            data: "_id",
            title: "id",
          },
          {
            targets: 1,
            data: 'name',
            title: "名称",
            render: function (data, type, row, meta) {
              return '<a href="/portal/shop/'+row._id+'">'+ data +'</a>';
            }
          },
          {
            targets: 2,
            data: "isSend",
            title: "是否配送",
            render: function (data, type, row, meta) {
              return data ? '是' : '否'
            }
          },
          {
            targets: 3,
            data: "sendPrice",
            title: "配送费",
          },
          {
            targets: 4,
            data: "sendBasePrice",
            title: "起送价格",
          },
          {
            targets: 5,
            data: "valid",
            title: "可用",
            render: function (data, type, row, meta) {
              //- return data === 1 ? '是' : '否';
              return `
                <a href="/portal/shop/valid/${row._id}"><div class="ele-form--checkbox">
                  <input type='checkbox', ${data === 1 ? 'checked' : ''} />
                  <span></span>
                </div></a>
              `;
            }
          },
          {
            targets: 6,
            data: "createDate",
            title: "创建日期",
          },
          {
            targets: 7,
            data: "name",
            title: "操作",
            render: function (data, type, row, meta) {
              return `
                <a href="/portal/activity/list/${row._id}"><button type="button" class="btn btn-primary btn-xs">活动</button></a>
                <a href="/portal/menu/list/${row._id}"><button type="button" class="btn btn-primary btn-xs">菜单</button></a>
                <a href="/portal/food/list/${row._id}"><button type="button" class="btn btn-primary btn-xs">食物</button></a>
                <button type="button" data-id="${row._id}" data-name="${row.name}" class="btn btn-danger btn-xs del">删除</button>
              `
            }
          },
        ],
      }));

      $('.ele-content-header')[0].onclick = function(e) {
        const elm = $(e.target);
        const value = elm.data('value');
        const id = elm.data('id');
        const idx = filterArray.indexOf(id);
        if (!value || value != '1') {
          elm.data('value', '1');
          elm.addClass('btn-info');
          if (idx < 0) {
            filterArray.push(elm.data('id'))
          }
        } else {
          elm.data('value', '0');
          elm.removeClass('btn-info');
          if (idx >= 0) {
            filterArray.splice(idx, 1);
          }
        }
        datatable.ajax.url(`${url}?filterKey=${filterArray.toString()}`),
        datatable.draw();
      }

      $("#shopTable").on("click",".del",function(){//给tr或者td添加click事件
        //- var data = datatable.row(this).data();//获取值的对象数据
        var {id, name} = $(this).data();
        $('#delDialog .modal-body').html(`确认删除“${name}”吗？`)
        $('#delDialog').data('id', id);
        $('#delDialog').modal('show');
      });
      //- $('#delDialog').modal({
      //-   show: true,
      //- })
    });